body {
    background-color: #B9D2B1;
    font-family:'Gamja Flower', cursive;
}

/* how to make words beneath the image - after dragging down, see the content*/
h1 {
    font-size: 6rem;
    position: center;
    color:#F9E0E6 ;
    text-shadow: -1px 0 #F990A9, 0 1px #F990A9, 1px 0 #F990A9, 0 -1px #F990A9;
}

body{
    background-image: url("Drinks.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    background-color: #C7EDD2;
    border: none;
    color: green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.banner {
    height: 100vh;
    background-attachment: fixed;
}

ul{
    color: white;
}

.Milk {
    display :inline-block;
    width: 30%;
    height: 50px;
    margin: 1%;
    padding-top: 44px;
    position: absolute;
    top: 760px;
    border: 2px solid #555;
    justify-content: space-around;
    background-image: url("Milk.jpg");
    height: 30%;
    background-position: center;
    background-size: cover;
}

.Latte {
    display :inline-block;
    width: 30%;
    height: 50px;
    margin: 1%;
    padding-top: 44px;
    position: absolute;
    top: 760px;
    left: 380px;
    border: 2px solid #555;
    justify-content: space-around;
    background-image: url("Latte.jpg");
    height: 30%;
    background-position: center;
    background-size: cover;
}

.Tea {
    display :inline-block;
    width: 30%;
    height: 50px;
    margin: 1%;
    padding-top: 44px;
    position: absolute;
    top: 760px;
    left: 760px;
    border: 2px solid #555;
    justify-content: space-around;
    background-image: url("Tea.jpg");
    height: 30%;
    background-position: center;
    background-size: cover;
}
