body {
    background-color: #B9D2B1;
    font-family:'Gamja Flower', cursive;
}

/* how to make words beneath the image - after dragging down, see the content*/
h1 {
    font-size: 6rem;
    position: center;
    color:#F9E0E6 ;
    text-shadow: -1px 0 #F990A9, 0 1px #F990A9, 1px 0 #F990A9, 0 -1px #F990A9;
}

body{
    background-image: url("Drinks.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
